body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#image {
    width: 600px;
    height: 300px;
    margin: 30px auto;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 200px;
    height: 130px;
    object-fit: cover;
    cursor: pointer;
}
